body, html {
	background: url('../../public/img/tasky_pattern.png') repeat #4CB3FC;
	padding-top: 30px;
	padding-bottom: 20px;
}
.page-header h1 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#333333;
	padding:15px;
	-moz-box-shadow:    inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow:         inset 0 0 20px #000000;
	color:#fff;
	height:40px;
	border:1px #000 solid;
}
.page-header a {
	margin-top:20px;
	margin-right:15px;
}
.pane {
	display:block;
	background:#ffffff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding:20px;
}
.map_editor_resources_pane {
	display:block;
	background:#ffffff;
	height:600px;
}
#map {
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:9;
}
.map_grid {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:110%;
	height:100%;
	overflow:hidden;
	margin-top:40px;
}
#map_ground {
	z-index:300;
}
#map_environment {
	z-index:500;
}
.map_tools {
	margin-top:-20px;
	background:#fff;
	width:100%;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	z-index:1036;
	display:block;
	position:relative;
	display:none;
}
.ground_tile {
	border-right:1px #000 solid;
	border-bottom:1px #000 solid;
	display:block;
	float:left;
	background:#1DF577;
	cursor:pointer;
	overflow:hidden;
}
.ground_tile:hover {
	background:#12C95F;
}
.environment_tile {
	border-right:1px #000 solid;
	border-bottom:1px #000 solid;
	display:block;
	float:left;
	cursor:pointer;
	overflow:hidden;
}
.environment_tile:hover {
	background:#E01B98;
}
.resource-tile {
	display:block;
	float:left;
	background:#1DF577;
	cursor:pointer;
}
.resource-tile:hover {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.active-resource {
	background:#D6D6D6;
}
#notif {
	display:block;
	position:absolute;
	z-index:999999;
	bottom:0;
	left:0;
	margin-left:100px;
	margin-bottom:100px;
	display:none;
	width:400px;
}
.tiles-box {
	display:block;
	position:absolute;
	z-index:1111;
}
.cmodal {
	margin-top:39px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1050;
	width: 460px;
	height:100%;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
::-moz-selection{
    background-color:Transparent;
    color:#000;
}
::selection {
	background-color:Transparent;
	color:#000;
}
.clear {
	width: 100%;
	height: 1px;
	margin: 0 0 -1px;
	clear: both;
}

#cr_modal {
	z-index:9999999999999999;
	position:absolute;
	top:50%;
	left:50%;
	width: 560px;
	margin: -250px 0 0 -280px;
	overflow: auto;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
.cr_modal_bg {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	position:absolute;
	z-index:999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
	background:#000;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
	

/* Datatables */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}

div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}

div.DTFC_LeftFootWrapper table {
	border-top: none;
}